$primary-color: #0079ff;
$secondary-color: rgba(185, 185, 185, 0.365);
$other:  rgb(110, 110, 110);

body {
  font-family: Arial, Helvetica, sans-serif;
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style-type: none;
  }
}

.nav {
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: -999;
  .web-logo {
    span {
      color: $primary-color;
    }
  }
  .web-nav-links {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    li {
      border-bottom: solid 2px;
      padding: 5px;
    }
    li:hover {
      background-color: $secondary-color;
      transition: 0.3s ease-in-out;
      border-radius: 3px;
    }
  }
}

main {
  margin-top: 50px;
  .hero-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    .hero-paragraph {
      padding: 20px;
      background-color: $primary-color;
      border-radius: 20px;
    }
  }
  .all-links{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .main-page-paragraph{
        width: 20%;
        font-size: 17px;
        background-color: $secondary-color;
        padding: 20px;
        border-radius: 20px;
        a{
            font-weight: bolder;
            text-decoration: underline;

        }
    }
  }
}

